.our-team:after {
    content: '';
    background-image: url(../img/4our-team/team-blueberry.png);
    background-repeat: no-repeat;
    width: 12rem;
    height: 37.5rem;
    position: absolute;
    bottom: 17rem;
    right: -6rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;

    @include hmin {
        background-size: 100% 100%;
        width: 12rem;
        height: 25.5rem;
        position: absolute;
        bottom: -2rem;
        right: -6rem;
    }

    @include tablets {
        bottom: 26rem;
        right: -6rem;

        @include hmin {
            display: none;
        }
    }

    @include phones {
        display: none;
    }

}

.photo-staff {
    width: 70%;
    height: 60%;

    @include tablets {
        @include hmin {
            width: 60%;
            height: 50%;
        }
    }

    @include phones {
        width: 50%;
        height: 55%;
    }
}

.our-team:before {
    content: '';
    background-image: url(../img/4our-team/team-raspberry.png);
    background-repeat: no-repeat;
    width: 7.5rem;
    height: 8.125rem;
    position: absolute;
    bottom: -7rem;
    left: 7%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;

    @include tablets {
        @include hmin {
            display: none;
        }
    }

    @include phones {
        display: none;
    }
}

.our-team {
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include tablets {
        @include hmin {}
    }

    @include phones {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}


.team-title {
    position: relative;
    padding-top: 4rem;
    padding-bottom: rem(50px);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: rem(48px);
    font-weight: 700;
    color: #000;

    @include tablets {
        padding-top: 40px;
        padding-bottom: 50px;

        @include hmin {
            padding: 0;
        }

    }

    @include phones {
        padding: 0px;
        padding: 0px;
        z-index: 1;
    }
}

.team-staff {
    display: flex;
    justify-content: center;
    height: 60%;

    @include tablets {
        flex-flow: row nowrap;
        justify-content: space-around;

        @include hmin {
            justify-content: flex-start;
            flex-flow: row nowrap;
            height: 60%;
        }
    }

    @include phones {
        flex-flow: row wrap;
        padding: 0;
        height: 100%;
    }
}

.staff-block {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 65%;
    height: 85%;
    list-style: none;
    z-index: 1;

    @include tablets {
        height: rem(440px);

        @include hmin {
            height: 100%;
        }
    }

    @include phones {
        width: 50%;
        height: 50%;
    }
}

.staff-name {
    position: relative;
    padding-top: rem(15px);
    margin: 0;
    font-size: rem(21px);
    font-weight: 500;
    text-align: center;

    @include tablets {
        @include hmin {
            font-size: .9rem;
        }
    }

    @include phones {
        font-size: .9rem;
    }
}

.hidden-profession {
    padding-top: rem(10px);
    margin: 0;
    font-size: rem(18px);
    font-weight: 400;
    text-align: center;

    @include phones {
        padding: 0;
        font-size: .9rem;

    }
}

.hidden-info {
    padding-top: rem(5px);
    margin: 0;
    font-size: rem(18px);
    font-weight: 300;
    text-align: center;

    @include phones {
        padding: 0;
        font-size: .9rem;
    }
}

.hidden-block-team {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    align-items: center;
    margin-top: -2rem;

}

.block-team-active {
    margin: 0;
    max-height: rem(30px);
    margin-bottom: rem(100px);
    overflow: visible;
    transition: .5s;
}

.arrow-hidden {
    &:after {
        content: '';
        position: absolute;
        top: 56%;
        margin-left: .3125rem;
        border: 0.3125rem solid transparent;
        border-bottom-color: #0f5a47;
        transition: .5s;

    }
}

.arrow-active {
    &:after {
        content: '';
        transform: rotate(180deg);
        transition: .5s;
    }
}