
.team-blueberry{
    background-image: url(../img/4our-team/team-blueberry.png);
    background-repeat: no-repeat;
    width: 12rem;
    height: 37.5rem;
    position: absolute;
    bottom: 17rem;
    right: -6rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
    @include tablets{
        bottom: 26rem;
        right: -6rem;
    }
    @include phones{
        top: -6rem;
    right: -4rem;
    background-size: 100% 150%;
    width: 8rem;
    height: 10.5rem;
    }
    
}
.photo-staff{
    width: 200px;
    height: 280px;
    @include phones{
        width: 65%;
        height: 65%;
    }
}
.team-raspberry{
    background-image: url(../img/4our-team/team-raspberry.png);
    background-repeat: no-repeat;
    width: 7.5rem;
    height: 8.125rem;
    position: absolute;
    bottom: -12%;
    left: 7%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}
.our-team {
    position: relative;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablets{
    }
    @include phones{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
}


.team-title {
    position: relative;
    padding-top: 4rem;
    padding-bottom: rem(50px);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: rem(48px);
    font-weight: 700;
    color: #000;
    @include tablets{
        padding-top: 40px;
        padding-bottom: 50px;
        
    }
    @include phones{
        padding: 0px;
        padding: 0px;
        z-index: 1;
    }
}

.team-staff {
    height: 75%;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    
    @include tablets{
        
        flex-flow: row wrap;
    justify-content: space-around;
    }
    @include phones{
        padding: 0;
        height: 100%;
    }
}
.staff-block {
    display: flex;
        align-items: center;
    flex-direction: column;
    max-width: rem(220px);
    max-height: rem(405px);
    list-style: none;
    z-index: 1;
    @include tablets{
        max-height: rem(440px);
    }
    @include phones{
        width: 50%;
        max-height: 18rem;
    }
}

.staff-name {
    position: relative;
    padding-top: rem(15px);
    margin: 0;
    font-size: rem(21px);
    font-weight: 500;
    text-align: center;

}

.hidden-profession {
    padding-top: rem(10px);
    margin: 0;
    font-size: rem(18px);
    font-weight: 400;
    text-align: center;
}

.hidden-info {
    padding-top: rem(5px);
    margin: 0;
    font-size: rem(18px);
    font-weight: 300;
    text-align: center;
}

.hidden-block-team {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    align-items: center;
}

.block-team-active {
    margin: 0;
    max-height: rem(30px);
    margin-bottom: rem(100px);
    overflow: visible;
    transition: .5s;
}
.arrow-hidden {
    &:after {
        content: '';
        position: absolute;
        top: 56%;
        margin-left: .3125rem;
        border: 0.3125rem solid transparent;
        border-bottom-color: #0f5a47;
        transition: .5s;

    }
}
.arrow-active{
    &:after{
    content: '';
    transform: rotate(180deg);
    transition:.5s;
    }
}