.wrapper-comment {
    position: relative;
background: #fff;
    width: 100%;
    height: rem(650px);
    @include tablets{
        height: 66rem;
        
    }
    @include phones{
        height: 57rem;
        width: 100%;
    }
    
}
.wrapper-comment::after{
    content: '';
    background-image: url(../img/6comments/comment-strawberry.png);
    background-repeat: no-repeat;
    width: rem(150px);
    height: rem(86px);
    position: absolute;
    top: 11%;
    right: 0%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
    @include tablets{
        top: 6%;
        right: -10%;
        width: 10.375rem;
        height: 6.375rem;
    }
    @include phones{
        width: 8.375rem;
    height: 5.375rem;
        background-size: 40% 40%;
        background-size: 100% 100%;
        right: -12%;
    }
}
.wrapper-comment::before{
    content: '';
    background-image: url(../img/6comments/comments-berry.png);
    background-repeat: no-repeat;
    width: rem(140px);
    height: rem(323px);
    position: absolute;
    bottom: -50%;
    left: 3.5%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    @include tablets{
        width: 9.75rem;
        height: 18.1875rem;
        bottom: -20%;
        left: 3.5%;
    }
}
.comment {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}


.comment-title {
    position: relative;
    text-transform: uppercase;
    padding-top: rem(60px);
    padding-bottom: rem(35px);
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: rem(48px);
    font-weight: 700;
    z-index: 1;
    @include tablets{
        padding-bottom: rem(70px);
    }
    @include phones{
        padding: 0;
    }
}

.person-photo {
    width: rem(288px);
    height: rem(335px);
    padding: rem(50px) rem(20px) rem(50px) rem(50px);
    @include tablets{
        padding: 5.125rem 1.25rem 0 1.125rem;
    }
    @include phones{
        padding: 0;
        margin-top: 4.8125rem;
        width: 7.8125rem;
        height: 7.8125rem;
    }
}
.comment-info{
    @include tablets{
        text-align: center;
        padding-bottom: 2rem;
    }
    @include phones{
        width: 100%;
    }
}
.comment-person-title {
    margin: 0;
    padding: rem(65px) 0 0 0;
    font-size: rem(30px);
    font-weight: 500;
    color: #323232;
    @include tablets{
        padding-top: 2rem;
    }
}

.person-info {
    margin: 0;
    padding: rem(25px) 0;
    padding-right: 1rem;
    font-size: rem(18px);
    font-weight: 500;
    color: #666666;
    @include phones{
        width: 100%;
        padding: 4% 2%;
    }
}

.person-name {
    margin: rem(5px) 0;
    font-size: rem(18px);
    font-weight: 500;
    color: #666666;
}

.comment-person {
    margin: 0 auto;
    width:80%;
    display: none;
    background: url(../img/6comments/comments-leaf.png) top right no-repeat,url(../img/6comments/circle-comm.png) 50% -45px no-repeat,#f8faf9;
    background-size: auto,auto;
    position: relative;
    @include tablets{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}

.person-check {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: rem(1px);
    z-index: 2;
    width: rem(80px);
    height: rem(80px);
}

.check-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.check-persons {
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: rem(26px);
}

.check-active {
    border: rem(6px) solid #0f5a47;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    width: rem(80px);
    height: rem(80px);
    overflow: hidden;

}
.comment-person__active{
    display: flex;
    justify-content: flex-start;
    
}
.person-img{
    width: 5rem;
    height: 5rem;

}