.wrapper-menu-tipes{
    position: relative;
    background: url(../img/cooky-berry.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40.625rem;
    background-repeat: no-repeat;
    @include tablets{
        width: 50rem;
    }
    
}
.menu-tipes{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}
.menu-accordeon{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    @include tablets{
        width: 100%;
    }
}
.menu-max-title{
    position: absolute;
    top: 11%;
    left: 13%;
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    transform: translate(-50%,-50%);
    @include tablets{
        display: none;
    }
}
.menu-accordeon__list{
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
}
.menu-accordeon__item{
    display: flex;
    justify-content: flex-end;
    position: relative;
    list-style-type: none;
}

.menu-accordeon__title{
    display: flex;
    width: rem(100px);
    height: 100%;
    font-weight: 500;
    background: no-repeat;
    font-style: normal;
    font-size: rem(48px);
    line-height: 1;
    color: #fff;
    text-decoration: none;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
.menu-accordeon__title__rotate{
    display: flex;
     width: 0;
    transform: rotate(-90deg);
    font-size: rem(48px);
    line-height: 1;
    white-space: nowrap;
    font-weight: 500;
    font-style: normal;
    line-height: 1;
    color: #fff;
    padding: rem(20px) rem(50px);
}
.btn-cross{
    display:none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
    width: 18px;
    height: 18px;
    flex-direction: column;
    opacity: 1;
}
.cross-left,.cross-right{
    display: flex;
    width: 100%;
    height: 4px;
    background: gray;
    border-radius: 4px;
    transform: rotate(135deg);
    position: absolute;
}
.cross-right{
    transform: rotate(-135deg);
}
.menu-accordeon__hidden-box{
    padding: rem(50px) 10% rem(20px) rem(25px);
    display: none;
    background: #333235;
    opacity: .8;
    width: 100%;
}
.menu-accordeon__hidden__text{
    font-size: rem(16px);
    color: #fff;
    opacity: 1;
}
.menu-accordeon__visable-box{
    display: flex;
}
.btn-cross{
    display: flex;
}
