.order-section{
    height: rem(650px);
    position: relative;
 background: url(../img/order-berry.png) 3% 90% no-repeat,url(../img/order-leaf.png) right 80% no-repeat,url(../img/order-bg.jpg) no-repeat;
 background-size: auto,auto,cover;
 @include tablets{
    background: url(../img/order-bg.jpg) no-repeat;
    background-size:cover;
    height: 66rem;
 }
 @include phones{
    width: 100%;
    height: 55rem;
 }
}
.order-section::after{
    content: "";
    background: url(../img/order-blackberry.png);
    position: absolute;
    right: -6rem;
    top: -1rem;
    width: 12.3125rem;
    height: 16.25rem;
    z-index: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    @include tablets{
    }
    @include phones{
        content: "";
        background: url(../img/order-blackberry.png);
        background-size: 105%;
        background-repeat: no-repeat;
        position: absolute;
        right: -11%;
        top: 4%;
        width: 7.3125rem;
        height: 16.25rem;
        z-index: 0;
    }
}
.order-page{
    width: 100%;
    max-width: rem(940px);
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.order-h2{
    font-size: rem(48px);
    color:#0f5a47;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 1;
}
.order-form{
    display: flex;
    margin: 0 auto;
    @include tablets{
        flex-direction: column;
        margin: 0 auto;
        
       }
       @include phones{
        padding: 0px 1rem;
    }
}
.form-container{
    display: flex;
    @include tablets{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        padding: 0 14%;
        margin: 0 auto;
        width: 90%;
    }
    @include phones{
        width: 93%;
     }
}
.form-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: self-start;
}
.form-right{
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: self-start;
    @include tablets{
        width: 100%;
        margin: 0;
    }
}
.form-contacts{
    display: flex;
    flex: 1;
    margin-bottom: rem(20px);
}
.form-block{
    margin-left: rem(20px);
    display: flex;
    flex: 1;
    flex-direction: column;
    @include tablets{
        &:nth-child(1){
            margin: 0;
        }
    }
}
.form-text-input{
    display: flex;
    font-weight: 400;
    font-style: normal;
    font-size: rem(18px);
    color: #0f5a47;
}
.form-input{
    width: 100%;
    height: rem(60px);
    padding: rem(10px);
    font-weight: 400;
    font-style: normal;
    font-size: rem(18px);
    color: #000;
    border: rem(1px) solid transparent;
    
}
.form-comment{
    margin-bottom: rem(15px);
    height: rem(180px);
    width: rem(460px);
    resize: none;
    border: none;
    @include tablets{
        width: 100%;
    }
}
.form-radio-box{
    margin-bottom: rem(10px);
    display: flex;
    flex: 1;
    @include tablets{
        box-sizing: border-box;
        justify-content: center;
        padding: 0 2rem;
    }
}
.form-control{
    display: flex;
}
.form-radio-button{
    display: flex;
    flex: 1;
    margin-right: rem(20px);
}
.form-hidden{
    display: flex;
    width: rem(25px);
    height: rem(25px);
    background-color: #fff;
    border-radius: 50%;
    margin-right: rem(10px);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.form-text-input{
    padding: .14rem 0;
}
.form-hidden:before{
    content: '';
    display: flex;
    width: 0;
    height: 0;
    background-color: #0f5a47;
    border-radius: 50%;

}
.form-radio{
    display: none;
}
.form-checkbox{
    display: none;
}
.form-hidden-checkbox{
    display: flex;
    width: rem(25px);
    height: rem(25px);
    background-color: #fff;
    border-radius: 0;
    margin-right: rem(10px);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.form-not-call{
    margin-bottom: rem(40px);
    @include tablets{
        display: flex;
        justify-content: center;
    }
}
.form-buttons{
    display: flex;
    @include tablets{
        justify-content: center;
    }
}
.btn-order{
    box-shadow: none;
}
.btn-reset{
background: 0;
text-transform: capitalize;
font-weight: 500;
box-shadow: none;
}
.form-input:focus,.form-comment:focus{
    border: rem(2px) solid #dde3bd;
    outline: 0;
}
.form-hidden:before{
    content: '';
    display: flex;
    width: 0;
    height: 0;
    background-color: #0f5a47;
    border-radius: 50%;
}
.form-radio:checked+.form-hidden:before{
height: rem(10px);
width: rem(10px);
}
.form-hidden-checkbox:before{
    content: '';
    background-image: url(../img/check.png);
    display: flex;
    width: 0;
    height: 0;
    background-color: transparent;
    background-size: cover;
    
}
.form-checkbox:checked+.form-hidden-checkbox:before{
    width: rem(12px);
    height: rem(11px);
    @include tablets{
        width: 0.85rem;
        height: 0.7875rem;
    }
}