.wrapper-our-team {
    position: relative;
background: #fff;
    margin: 0 auto;
    width: 100%;
    min-height: rem(650px);
    background-repeat: no-repeat;
    background-size: 100%;
    @include tablets{
        width: 50rem;
        height: 66rem;
    }
    @include phones{
        width: 100%;
        height: 55rem;
    }
}
.wrapper-our-team::after{
    content: '';
    background-image: url(../img/team-blueberry.png);
    background-repeat: no-repeat;
    width: rem(198px);
    height: rem(600px);
    position: absolute;
    bottom: -3%;
    right: -6rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
    @include tablets{
        bottom: 27%;
        right: -12%;
        z-index: 0;
    }
}

.wrapper-our-team::before{
    content: '';
    background-image: url(../img/team-raspberry.png);
    background-repeat: no-repeat;
    width: 7.5rem;
    height: 8.125rem;
    position: absolute;
    bottom: -14%;
    left: 7%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
}
.our-team {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    @include tablets{
        width: 100%;
    }
    @include phones{
        width: 100%;
        height: 55rem;
    }
}

.team-title {
    padding-top: rem(105px);
    padding-bottom: rem(50px);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: rem(48px);
    font-weight: 700;
    color: #000;
    @include tablets{
        padding-top: 40px;
        padding-bottom: 50px;
        
    }
    @include phones{
        padding: 0px;
    }
}

.team-staff {
    padding: 0 rem(80px);
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    @include tablets{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    @include phones{
        padding: 0;
    }
}
.staff-block img{
    width: rem(220px);
    height: rem(290px);
}
.staff-block {
    display: flex;
    flex-direction: column;
    max-width: rem(220px);
    max-height: rem(405px);
    list-style: none;
    @include tablets{
        max-height: rem(440px);
    }
    @include phones{
        max-height: 26rem;
    }
}

.staff-name {
    position: relative;
    padding-top: rem(15px);
    margin: 0;
    font-size: rem(21px);
    font-weight: 500;
    text-align: center;

}

.arrow-hidden {
    position: absolute;
    background: #0f5a47;
    width: rem(9px);
    height: rem(5px);
    top: rem(28px);
    right: rem(14px);
    transform: translate(-50%, -50%);

    &:after {
        content: "";
        position: absolute;
        width: rem(0px);
        height: rem(6px);
        right: rem(5px);
        background: #fff;
        border: rem(3px) solid #fff;
        -webkit-transform: rotate(140deg);
        -ms-transform: rotate(140deg);
        transform: rotate(140deg);

    }

    &:before {
        content: "";
        position: absolute;
        width: rem(0px);
        height: rem(6px);
        background: #fff;
        border: rem(3px) solid #fff;
        -webkit-transform: rotate(40deg);
        -ms-transform: rotate(40deg);
        transform: rotate(40deg);

    }
}

.staff-block:nth-child(2n) .staff-name {
    .arrow-hidden {
        position: absolute;
        background: #0f5a47;
        width: rem(9px);
        height: rem(5px);
        top: rem(28px);
        right: rem(27px);
        transform: translate(-50%, -50%);
    }

}

.hidden-profession {
    padding-top: rem(10px);
    margin: 0;
    font-size: rem(18px);
    font-weight: 400;
    text-align: center;
}

.hidden-info {
    padding-top: rem(5px);
    margin: 0;
    font-size: rem(18px);
    font-weight: 300;
    text-align: center;
}

.hidden-block-team {
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    align-items: center;
}

.block-team-active {
    margin: 0;
    height: rem(30px);
    margin-bottom: rem(100px);
    overflow: visible;
    transition: .5s;
}