.wrapper-section-top{
    width: 100%;

    background: url(../img/bg-leaf.png) 100%,#61c4d9;
    background-size: cover;
height: rem(650px);
background-repeat: no-repeat;
background-size: auto;
box-sizing: border-box;
@include tablets{
    width: 100%;
    height: 66rem;
    background-image: url(../img/bg-leaf-768.png) 100%;
    background-size: cover;
}
@include phones{
width: 34.286rem;
}
}

.section-top {
    position: relative;
    height: rem(700px);
    margin: 0 auto;
    width: 100%;
    z-index: 2;
    background-repeat: no-repeat;
}

.container-top {
    padding: 0 rem(80px);
    box-sizing: border-box;
    @include tablets{
padding: 0;
    }
}

.header-menu {
    padding: rem(20px) 0 rem(40px) 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @include tablets{
    &:after{
        content: url(../img/bga-leaf-768.png);
        display:block;
        margin: 0 auto;
       
    }
}
}

.menu {
    @include tablets{

    }

}

.menu-list {
    padding: 0;
    display: inline-flex;
    @include tablets{
        display: none;
    }
}
.mini-menu{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .625rem;
    z-index: 1000;
    position: fixed;
    top: 20px;
    right: 0;
    @include tablets{
        display: flex;
    }
}
.mini-menu-row{
    display: flex;
    height: .25rem;
    background-color: #fff;
    border-radius: .125rem;
    transition: .5s;
    top: 0;
}

.menu-item {
    list-style: none;
}

.logo-img {
    padding: rem(7px) 0;
    @include tablets{
        position: absolute;
    }
}

.phone-number {
    padding: rem(12px) 0 0 rem(10px);
    text-decoration: none;
    color: #fff;
    font-size: rem(24px);
    line-height: rem(30px);
    text-align: center;

    &::before {
        padding: rem(8px);
        content: url(../img/phone.png);
    }
    @include tablets{
        display: none;
    }
}

.menu-link {
    padding: 0;
    padding-left: rem(25px);
    text-decoration: none;
    font-size: rem(18px);
    line-height: rem(30px);
    text-align: center;
    color: #fff;
}

.menu-item:nth-child(1) .menu-link {
    padding: 0;
}

.title {
    color: #fff;
    font-size: rem(60px);
    line-height: rem(60px);
    font-weight: 700;
    width: rem(350px);
    text-transform: uppercase;
    @include tablets{
        width: 24rem;
        text-align: center;
        margin: 0;
    }
}
.content-promo{
@include tablets{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    text-align: center;
}
}

.content-description {
    font-size: rem(21px);
    color: #fff;
    font-weight: 400;
    width: rem(350px);
}

.block-marketing-pluses {
    padding-top: rem(49px);
    width: rem(470px);
    @include tablets{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        width: 70%;
    }
}

.marketing-pluses {
    margin: 0;
    padding: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    @include phones{
        width:140%;
    }
}
.marketing-pluses::after{
    content: '';
    background-image: url(../img/cooky-berry.png);
    background-repeat: no-repeat;
    width: 33.4375rem;
    height: 40.0625rem;
    position: absolute;
    bottom: -45%;
    right: -18%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
    @include tablets{
        display: none;
    }
}
.marketing-pluses::before{
    content: '';
    background-image: url(../img/mini-leaf.png);
    background-repeat: no-repeat;
    width: rem(59px);
    height: rem(112px);
    position: absolute;
    bottom: -8%;
    right: 91%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    @include tablets{
        display: none;
    }
}
.marketing-plus {
    padding-left: rem(60px);
    position: relative;
    min-height: rem(60px);
    width: rem(160px);
    color: #fff;
}
.leaf,.transport,.weight{
    position: absolute;
    top: rem(23px);
    left: rem(25px);
    width: rem(43px);
    height: rem(43px);
    fill: transparent;
    stroke: #b0f7ff;
    transform: translate(-50%,-50%);
}
