.wrapper-section-top {
    position: relative;
    width: 100%;
    background: url(../img/bg-leaf.png) center center/cover no-repeat, #fff;
    background-size: cover;
    min-height: rem(650px);
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-clip: content-box;
    @include tablets {
        width: 50rem;
        height: 66rem;
        background-image: url(../img/bg-leaf-768.png) 100%;
        background-size: cover;
    }

    @include phones {
        width: 34.286rem;
    }
}
.wrapper-section-top:before{
    content: "";
    background: url(../img/chocco-cooky.png) no-repeat;
    position: absolute;
    width: 31.25rem;
    height: 32.125rem;
    top: 47%;
    left: 67%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 0;
    @include tablets{
        display: none;
    }
}

.section-top {
    padding: 0 4%;
    position: relative;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    z-index: 2;
    background-repeat: no-repeat;
}
.section-top::after{
    content: '';
    background-image: url(../img/cooky-berry.png);
    background-repeat: no-repeat;
    width: 28.8rem;
    height: 21.3rem;
    position: absolute;
    bottom: -69%;
    right: -13%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;

    @include tablets{
        display: none;
    }
}
.section-top::before{
    content: '';
    background-image: url(../img/mini-leaf.png);
    background-repeat: no-repeat;
    width: 3.6875rem;
    height: 7rem;
    position: absolute;
    bottom: -50%;
    left: 3%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    @include tablets{
        display: none;
    }
}
.container-top {
    
    box-sizing: border-box;

    @include tablets {
        padding: 0;
    }
}

.header-menu {
    padding: rem(20px) 0 rem(40px) 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    @include tablets {
        &:after {
            content: url(../img/bga-leaf-768.png);
            display: block;
            margin: 0 auto;

        }
    }
}

.menu {
    @include tablets {}

}

.menu-list {
    padding: 0;
    display: inline-flex;
//
    @include tablets{
        display: block;
    }
}
.menu-tablet{
    @include tablets{
        display: block;
        position: fixed;
        z-index: 1000;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #2f3234;
        justify-content: center;
        transition: .5s;
    }
}
.mini-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .625rem;
    z-index: 1000;
    position: fixed;
    top: 20px;
    right: 0;

    @include tablets {
        display: flex;
    }
}

.mini-menu-row {
    display: flex;
    height: .25rem;
    background-color: #fff;
    border-radius: .125rem;
    transition: .5s;
    top: 0;
}

.menu-item {
    list-style: none;
}

.logo-img {
    padding: rem(7px) 0;

    @include tablets {
        position: absolute;
    }
}

.phone-number {
    padding: rem(12px) 0 0 rem(10px);
    text-decoration: none;
    color: #fff;
    font-size: rem(24px);
    line-height: rem(30px);
    text-align: center;

    &::before {
        padding: rem(8px);
        content: url(../img/phone.png);
    }

    @include tablets {
        display: none;
    }
}

.menu-link {
    padding: 0;
    padding-left: 1rem;
    text-decoration: none;
    font-size: 1.125rem;
    line-height: 1.875rem;
    text-align: center;
    color: #fff;

}

.menu-item:nth-child(1) .menu-link {
    padding: 0;
}

.title {
    position: relative;
    color: #fff;
    font-size: rem(60px);
    line-height: rem(60px);
    font-weight: 700;
    width: rem(350px);
    text-transform: uppercase;

    @include tablets {
        width: 24rem;
        text-align: center;
        margin: 0;
    }
}

.content-promo {
    @include tablets {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        text-align: center;
    }
}

.content-description {
    font-size: rem(21px);
    color: #fff;
    font-weight: 400;
    width: rem(350px);
}

.block-marketing-pluses {
    padding-top: rem(49px);
    width: rem(470px);
    margin-bottom: rem(-60px);

    @include tablets {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        width: 70%;
    }
}

.marketing-pluses {
    margin: 0;
    padding: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    list-style: none;
    width: 100%;

    @include phones {
        width: 140%;
    }
}
// .marketing-pluses::after {
//     content: url(../img/cooky-berry.png);
//     background-repeat: no-repeat;
//     width: 0.0001rem;
//     height: 0.0001rem;
//     margin: rem(-166px) rem(-37px) 0 rem(0px);
//     padding-left: rem(259px);
//         @include tablets{
//         display: none;
//     }
// }
//     .marketing-pluses::before {
//         content: url(../img/mini-leaf.png);
//         width: 4.0001rem;
//         height: 0.0001rem;
//         margin: rem(78px) 0 0 0;
//         @include tablets{
//             display: none;
//         }
//     }


.marketing-plus {
    padding-left: rem(60px);
    position: relative;
    min-height: rem(60px);
    width: rem(160px);
    color: #fff;
}

.leaf,
.transport,
.weight{
    position: absolute;
    top: rem(23px);
    left: rem(25px);
    width: rem(43px);
    height: rem(43px);
    fill: transparent;
    stroke: #b0f7ff;
    transform: translate(-50%,-50%);
}