.slider-section{
    background: #f8faf9;
    width: 100%;
    display: flex;
    align-items: center;
    
    @include tablets{
        

    }
    @include phones{
        
    }
    
}
.slider-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.slider-obj{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.slider-item{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    @include tablets{
        flex-direction: column;
    }
}
.slider-img{

    @include tablets{
        padding: 0;
        display: flex;
    justify-content: center;
    }
}

.chocco-slider-img{
    width: 29.625rem;
    height: 26.375rem;
@include tablets{
    width: 80%;
    height: 80%;
}
    @include phones{
        width: 80%;
        height: 80%;
    }
}
.item-structure{
    position: relative;
    margin-bottom: 1.875rem;
    width: 5.625rem;
    height: 5.625rem;
    text-align: center;
    background: #61c4d9;
    border-radius: rem(10px);
    font-size: 0.875rem;
    font-style: italic;
    font-weight: 800;
    color: #FFF;
    cursor: pointer;
    @include tablets{
        position: absolute;
        top: -5rem;
        right: 2rem;
    }
    @include phones{
        width: 15%;
        height: 11%;
        top: -12%;
        right: 1%;
    }
}
.chocolate-bar{
    padding-top: 0.875rem;
    width: 3.75rem;
    height: 4.375rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    fill: #FFF;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    @include phones{
        width: 60%;
        height: 70%;
    }
}
.product-name{
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    @include tablets{
        text-align: center;
        margin: 0 3rem;
        padding-bottom: 2rem;
    }
    @include phones{
        margin: 0;
    }

}
.what-pluses{
    color: #666666;
    font-size: 1.125rem;
    width: 85%;
    @include tablets{
        margin: 0 auto;
        width: 75%;
        text-align: center;
        padding-bottom: 2rem;
    }
    @include phones{
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding-bottom: 2rem;
    }

}
.slider-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
    @include tablets{
       max-width: none;
    }
}
.slider-item-hidden{
    display: none;
}
.include-chocco{
    display: inline-flex;
    @include tablets{
        margin: 0 auto;
    }
}
.slider-order{
    padding-top: 1.875rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include tablets{
        margin: 0 auto;
    }
}
.calories-chocco,.weight-chocco{
    font-size: 1.125rem;
    padding-right: 3.125rem;
    text-align: start;
    
}
.chocco-price{
    font-size: 3.75rem;;
    font-weight: 300;
    padding-right: 1rem;
}
.btn-slider{
    background: #0b4d3c;
    color: #fff;
    box-shadow: none;
}
.slider-arrow{
    min-width: rem(15px);
    height: rem(30px);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 20;
    @include tablets{

    }
}
.arrow-left{
    margin-top: .3rem;
    transform: rotate(180deg);
    @include tablets{

    }
}
.arrow-right{


}
.slider-arrow:before{
    content: '';
    position: absolute;
    width: rem(50px);
    height: rem(50px);
    transform: rotate(45deg);
    border: 2px solid #000;
    top: rem(-11px);
    left: rem(-50px);
    border-radius: rem(6px);
    
}
.slider-arrow:after{
    content: '';
    width: rem(30px);
    height: rem(30px);
    position: absolute;
    top: 50%;
    left: 50%;
}
.item-structure-block{
    position: absolute;
    width: 16.875rem;
    max-height: 23.75rem;
    background: #fff;
    opacity: .9;
    top: 11.4rem;
    left: 14.1rem;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    box-sizing: border-box;
    @include tablets{
        left: 16.5rem;
        top: -23.1rem;
    }
}
.structure-block-2{
    top: 9.9rem;
    @include tablets{
        left: 16.5rem;
        top: -23.1rem;
    }
}
.structure-ingredient{
    padding:0 1rem;
    padding-top: .3rem;
    display: flex;
    justify-content: space-between;
    
    
}

.ingredient-svg{
    width: 3rem;
    height: 3rem;
}
//show-hidden
.structure-block-hidden{
    display: none;
}
.structure-block-visible{
    display: flex;
}