.order-section {
    position: relative;
    background: url(/dist/img/8order-section/order-berry.png) 3% 90% no-repeat, url(/dist/img/8order-section/order-leaf.png) right 80% no-repeat, url(/dist/img/8order-section/order-bg.jpg) no-repeat;
    background-size: auto, auto, cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include tablets {
        background: url(/dist/img/8order-section/order-bg.jpg) no-repeat;
        background-size: cover;
    }

    @include phones {
        width: 100%;

    }
}

.order-section::after {
    content: "";
    background-image: url(/dist/img/8order-section/order-blackberry.png);
    position: absolute;
    right: -6rem;
    top: -1rem;
    width: 12.3125rem;
    height: 16.25rem;
    z-index: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    @include tablets {
        
    }

    @include phones {
        content: "";
        background-image: url(/dist/img/8order-section/order-blackberry.png);
        background-size: 105%;
        background-repeat: no-repeat;
        position: absolute;
        right: 0%;
        top: -12%;
        width: 7.3125rem;
        height: 10.25rem;
        z-index: 0;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}

.order-page {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.order-h2 {
    padding: 4% 0;
    font-size: rem(48px);
    color: #0f5a47;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 1;
    margin: 0;

    @include tablets {
        padding: 0;
        font-size: 2rem;

        @include hmin {
            font-size: 2rem;
        }
    }

    @include phones {
        padding-bottom: 1rem;
        font-size: 2rem;
    }
}

.order-form {
    display: flex;

    @include tablets {
        flex-direction: column;
    }

}

.form-container {
    display: flex;
    width: 90%;
    max-width: 68.75rem;
    margin: 0 auto;

    @include tablets {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        justify-content: center;
        padding: 0 14%;
        margin: 0 auto;
        width: 90%;
        z-index: 2;

        @include hmin {
            padding: 0;
            flex-direction: row;
            -webkit-box-pack: start;
        }
    }

    @include phones {
        width: 93%;
        padding: 0;
    }
}

.form-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: self-start;

    @include tablets {
        @include hmin {
            
        }

    }
}

.form-right {
    margin: 0;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: self-start;

    @include tablets {
        width: 100%;
        margin: 0;

        @include hmin {

        }
    }
}

.form-contacts {
    display: flex;
    flex: 1;
    margin-bottom: rem(20px);

    @include phones {
        margin-bottom: 0.25rem;
    }
}

.form-block {
    margin-left: rem(20px);
    display: flex;
    flex: 1;
    flex-direction: column;

    @include tablets {
        &:nth-child(1) {
            margin: 0;
        }
    }
}

.form-text-input {
    display: flex;
    font-weight: 400;
    font-style: normal;
    font-size: rem(18px);
    color: #0f5a47;

    @include tablets {
        @include hmin {
            font-size: .9rem;
        }
    }

    @include phones {
        font-size: .875rem;
    }
}

.form-input {
    width: 100%;
    height: rem(60px);
    padding: rem(10px);
    font-weight: 400;
    font-style: normal;
    font-size: rem(18px);
    color: #000;
    border: rem(1px) solid transparent;

    @include tablets {
        height: 2.5rem;
        padding: 0 0.625rem;

        @include hmin {
            height: 2rem;
        }
    }

}

.form-comment {
    margin-bottom: rem(15px);
    height: rem(180px);
    width: 100%;
    resize: none;
    border: none;

    @include tablets {
        width: 100%;

        @include hmin {
            height: 6rem;
        }
    }

    @include phones {
        height: 5rem;
    }
}

.form-radio-box {
    margin-bottom: rem(10px);
    display: flex;
    flex: 1;

    @include tablets {
        box-sizing: border-box;
        justify-content: center;
        padding: 0;
    }

    @include phones {
        flex-flow: row wrap;
        margin-bottom: 1.2rem;
    }
}

.form-control {
    display: flex;
    align-items: center;
}

.form-radio-button {
    display: flex;
    flex: 1;
    margin-right: rem(20px);

    @include phones {
        margin-right: 0.25rem;
    }
}

.form-hidden {
    display: flex;
    width: rem(25px);
    height: rem(25px);
    background-color: #fff;
    border-radius: 50%;
    margin-right: rem(10px);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    @include phones {
        width: 1rem;
        height: 1rem;
    }
}

.form-text-input {
    padding: .14rem 0;
}

.form-hidden:before {
    content: '';
    display: flex;
    width: 0;
    height: 0;
    background-color: #0f5a47;
    border-radius: 50%;


}

.form-radio {
    display: none;
}

.form-checkbox {
    display: none;
}

.form-hidden-checkbox {
    position: relative;
    display: flex;
    width: rem(25px);
    height: rem(25px);
    background-color: #fff;
    border-radius: 0;
    margin-right: rem(10px);
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}

.form-not-call {
    margin-bottom: rem(40px);

    @include tablets {
        display: flex;
        justify-content: center;

        @include hmin {
            margin-bottom: 0.5rem;
        }
    }

    @include phones {
        margin-bottom: 0.5rem;
    }
}

.form-buttons {
    display: flex;

    @include tablets {
        justify-content: center;
    }
    @include phones{
        padding-top: 1rem;
    }
}

.btn-order {
    box-shadow: none;
    background: #2f7060;
    color: #fff;

    @include tablets {
        @include hmin {
            padding: .7rem;
            width: 9rem;
            height: 2.75rem;
        }
    }

    // @include phones {
    //     padding: 0.1875rem;
    //     width: 8rem;
    //     height: 1.75rem;
    // }
}

.btn-reset {
    background: 0;
    text-transform: capitalize;
    font-weight: 500;
    box-shadow: none;

    @include tablets {
        @include hmin {
            padding: .7rem;
            width: 9rem;
            height: 2.75rem;
        }
    }

    // @include phones {
    //     padding: 0.1875rem;
    //     width: 8rem;
    //     height: 1.75rem;
    // }
}

.form-input:focus,
.form-comment:focus {
    border: rem(2px) solid #dde3bd;
    outline: 0;
}

.form-hidden:before {
    content: '';
    display: flex;
    width: 0;
    height: 0;
    background-color: #0f5a47;
    border-radius: 50%;
}

.form-radio:checked+.form-hidden:before {
    height: rem(10px);
    width: rem(10px);

}

.form-hidden-checkbox:before {
    content: '';
    background-image: url(/dist/img/8order-section/check.png);
    display: flex;
    width: 0;
    height: 0;
    background-color: transparent;
    background-size: cover;

}

.form-checkbox:checked+.form-hidden-checkbox:before {
    width: rem(12px);
    height: rem(11px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);

    @include tablets {
        width: 0.85rem;
        height: 0.7875rem;
    }
}

.good-order__active {
    background: url(/dist/img/8order-section/order-bg.jpg);
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    width: 50%;
    height: 30%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border: 2px solid #317139;
}

.good-order {
    display: none;
}

.good-order__message {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}