.fixed-menu {
    position: fixed;
    right: 1.25rem;
    top: 50%;
    transform: translate(0,-50%);
    z-index: 5;
}
.fixed-menu__item{
    margin-top: .3125rem;
    
}
.fixed-menu .scroll-active{
    border: .0625rem solid #fff;
    border-radius: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
}
.fixed-menu__dot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.25rem;
    height: 1.25rem;
&:hover{
    border: .0625rem solid #fff;
    border-radius: 50%;
    background-color: transparent;
    background-repeat: no-repeat;
}
    &:before {
        content: "";
        width: rem(6px);
        height: rem(6px);
        background: #fff;
        border-radius: 50%;


    }

    &:last-child {
        margin-bottom: 0;
    }
}