body,
html {
    width: 100%;
    height: 100%;

    @include tablets {
        font-size: rem(15px);
        
    }
    @include phones {
        font-size: rem(14px);
        
    }
}

body {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 400;
    font-size: rem(14px);
    color: #000;
    background-color: #f5f5f5;
}
main{
    @include tablets{
        width: rem(768px);
    }
}
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    font-weight: normal;
}

ul {
    padding: 0;
    margin: 0;
}

footer {
    position: relative;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.page {
    padding: 0;
    max-width: rem(1100px);
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.btn {
    display: block;
    text-decoration: none;
    color: #2f7060;
    width: rem(160px);
    height: rem(60px);
    background-color: #fff;
    border-radius: rem(30px);
    text-align: center;
    padding: rem(19px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: rem(19px);
    font-weight: 800;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 0 1.875rem 0;
}